[defaults]
inventory = ./inventory/hosts.ini
remote_user = ec2-user
ask_pass = false
private_key_file = /var/lib/jenkins/devops-lab/terraform/keys/id_ed25519
host_key_checking = False


[privilege_escalation]
become = true
become_method = sudo
become_user = root
become_ask_pass = false
